/// Creates responsive size helper classes for width and height

/// @param {Map} $sizes - Responsive width and height options in percents,
// relative to parent; used to create size helper classes
$sizes: (
  0, 20, 40, 60, 80, 100
) !default;

$classes: ();
@each $size in $sizes {
  $classes: append($classes,
    ((
      prefix: "w",
      suffix: "#{$size}",
      prop: "width",
      val: "#{$size}%"
    ))
  );
  $classes: append($classes,
    ((
      prefix: "h",
      suffix: "#{$size}",
      prop: "height",
      val: "#{$size}%"
    ))
  );
  $classes: append($classes,
    ((
      prefix: "vw",
      suffix: "#{$size}",
      prop: "width",
      val: "#{$size}vw"
    ))
  );
  $classes: append($classes,
    ((
      prefix: "vh",
      suffix: "#{$size}",
      prop: "height",
      val: "#{$size}vh"
    ))
  );
}
@include make-responsive-class ($classes) {}