/// @param {List} $breakpoints - Responsive media query breakpoints
$breakpoints: (
  sm: 568px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
) !default;



/// @param {List} $border-radius - Border radius sizes (multiplied by 1px)
$border-radius: (
  3, 6, 9, 12
) !default;



/// @param {Map} $colors - Color palette used to generate color and
/// background-color helper classes
$colors: (
  primary: #FF665A,
  secondary: #7D6B7D,
  light: #FFF587,
  dark: #A3A1A8
) !default;



/// @param {Map} $sizes - Responsive width and height options in percents,
// relative to parent; used to create size helper classes
$sizes: (
  0, 20, 40, 60, 80, 100
) !default;



/// @param {Number} $text-size-base - Cross-device text base size
$text-size-base: 1rem !default;

/// @param {Map} $text-sizes - Matrix for responsive text sizes.
/// Each row corresponds to one breakpoint size, with "null" being the default.
/// One helper class is generated for each given size
$text-sizes: (
  null: (1, 1.2, 1.4, 1.6, 2, 2.8, 4),
  sm: (1, 1.2, 1.4, 1.6, 2, 2.8, 4),
  md: (1, 1.2, 1.4, 1.6, 2, 2.8, 4),
  lg: (1, 1.2, 1.4, 1.6, 2, 2.8, 4),
  xl: (1, 1.2, 1.4, 1.6, 2, 2.8, 4)
) !default;

/// @param {List} $line-height - Line height settings
/// First argument controls whether line height should be set at all.
/// Second argument controls how much the line height property should be
/// incremented, with its base value calculated using parameters
/// @see $text-size-base and @see $text-sizes
$line-height: (true, 0.3rem) !default;



/// @param {List} $whitespace-sizes - Whitespace sizes
$whitespace-sizes: (0, 1, 2, 3, 5, 8) !default;

/// @param {Number} $whitespace-quantifier - The quantifier used to determine
/// the value of a whitespace helper class property value, using
/// @see $whitespace-sizes
$whitespace-quantifier: 2px !default;

/// @param {Map} $whitespace-props - Map of element properties to be modified
/// Each key specifies the property CSS name, while the value is used to
/// generate the class shorthand name
$whitespace-props: (
  "padding": "p",
  "margin": "m",
) !default;

/// @param {Map} $whitespace-orients - Orientations of properties specified in
/// @see $whitespace-props, should not be altered
$whitespace-orients: (
  null: null, /// for modifying all orientations
  "x": null,  /// for modifying top and bottom values
  "y": null,  /// for modifying left and right values
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l"
);