/// Creates whitespace helper classes (default for padding and margin)
/// using @require breakpoints based on the following parameters:

/// @param {List} $whitespace-sizes - Whitespace sizes
$whitespace-sizes: (0, 1, 2, 3, 5, 8) !default;

/// @param {Number} $whitespace-quantifier - The quantifier used to determine
/// the value of a whitespace helper class property value, using
/// @see $whitespace-sizes
$whitespace-quantifier: 2px !default;

/// @param {Map} $whitespace-props - Map of element properties to be modified
/// Each key specifies the property CSS name, while the value is used to
/// generate the class shorthand name
$whitespace-props: (
  "padding": "p",
  "margin": "m",
) !default;

/// @param {Map} $whitespace-orients - Orientations of properties specified in
/// @see $whitespace-props, should not be altered
$whitespace-orients: (
  null: null, /// for modifying all orientations
  "x": null,  /// for modifying top and bottom values
  "y": null,  /// for modifying left and right values
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l"
);

@each $bp in (join(null, map-keys($breakpoints))) {
  
  /// If no breakpoint size specified (default value)
  $bp-infix: null;
  @if $bp != null {
    $bp-infix: "-#{$bp}";
  } @else {
    $bp-infix: "";
  }

  @if index($whitespace-sizes, 0) == null {
    $whitespace-sizes: join(0, $whitespace-sizes);
  }
  @include bp-from($bp) {
    @each $prop in map-keys($whitespace-props) {
      $class: map-get($whitespace-props, $prop);
      @each $prop-mod in map-keys($whitespace-orients) {
        $orient: map-get($whitespace-orients, $prop-mod);
        @each $size in $whitespace-sizes {
          $mod-infix: "";
          @if $prop-mod == "x" {
            $mod-infix: "x";
          } @else if $prop-mod == "y" {
            $mod-infix: "y";
          } @else if $prop-mod == null {
            $mod-infix: "";
          } @else {
            $mod-infix: $orient;
          }
          $val: $size * $whitespace-quantifier;
          .#{$class}#{$mod-infix}#{$bp-infix}-#{$size} {
            @if $prop-mod == "x" {
              #{$prop}-left: $val;
              #{$prop}-right: $val;
            } @else if $prop-mod == "y" {
              #{$prop}-top: $val;
              #{$prop}-bottom: $val;
            } @else if $prop-mod == null {
              #{$prop}: $val;
            } @else {
              #{$prop}-#{$prop-mod}: $val;
            }
          }
        }
      }
    }
  }
}